* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/fondo_numeros.jpg");
    text-align: center;
}

form {
    border: 5px solid #2b8100;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    background-color: rgba(255, 115, 14, 0.586);
    height: 300px;
    width: 400px;
}

label {
    font-style: bold;
}

.campo_texto1 {
    width: 230px;
}